# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
dist/
dist-ssr/

# Env files (keep .env.production in git since it has no secrets)
.env.local
*.local

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
.vercel
